*{
    margin: 0;
    padding: 0;
}
.cabeçalho {
background-color: #3E745D;
color: white;
display: flex;
justify-content: space-around;
align-items: center;
padding: 20px 0;
}

.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 20px;
}

.biblioteca-imagem{
    width: 25%;
}

.escola{
    background-image: linear-gradient(#6DC8A2);
}
